<div class="w3layouts-glyphicon">		
    <div class="grid_3 grid_4">
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img src="{{user[0].profil_pic}}" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0">{{user[0].full_name}} </h4>{{followid}}
                        
                        <div class="button mt-2 d-flex flex-row align-items-center"> 
                            <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                            <button (click)="follow()" *ngIf="user[0].follow==0" class="btn btn-sm btn-primary w-100 ml-2">Follow</button> 
                            <button (click)="unfollow()" *ngIf="user[0].follow==1" style="background-color: rgb(209, 83, 83);color: aliceblue;" class="btn btn-sm  w-100 ml-2">Unfollow</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngFor="let c of followid" >
    <h1>{{c}}</h1>
    <br>
</div> -->
<hr>
<div class="w3layouts-glyphicon">		
    <div class="grid_3 grid_4">
        <div class="container mt-5 d-flex justify-content-center">
            <div  *ngFor="let c of products"  class="card p-3">
                <div routerLink="/product"  [queryParams]= "{productID :c.productID }" class="d-flex align-items-center">
                    <div class="image"> <img src="{{c.product_pic}}" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0">{{c.product_name}} </h4>
                        {{c.product_pic}}
                        <div class="button mt-2 d-flex flex-row align-items-center"> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



