<div class="w3layouts-glyphicon">
  <h2>product by</h2>
<a routerLink="/viewprofile"  [queryParams]= "{userid:product_userdata[0].userID}">
<img *ngIf="product_userdata[0].profil_pic " style="width: 30px;border-radius: 50%;" class="dropdown-toggle" src="{{product_userdata[0].profil_pic}}"  class="ecc-avatar" alt="Responsive image">
<img *ngIf="!product_userdata[0].profil_pic " class="dropdown-toggle" src="assets/images/1.png"  class="ecc-avatar" alt="Responsive image">
<b>{{product_userdata[0].full_name}}</b> 
</a>

<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div >
    <div class="numbertext">{{show+1}} / {{picarry.length}}</div>
    <img src="{{picarry[show]}}" style="width:100%">
    <div class="text">Caption Text</div>
  </div>
  <!-- Next and previous buttons -->
  <a *ngIf="show!=0" class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a *ngIf="show!=picarry.length-1" class="next" (click)="plusSlides(1)">&#10095;</a>
</div>

<mat-icon *ngIf="flag==0" (click)="like_unlike_froduct('like')" aria-hidden="true">favorite_border</mat-icon>
<mat-icon *ngIf="flag==1" style="color: red;" (click)="like_unlike_froduct('unlike')" aria-hidden="true">favorite</mat-icon>
<a> like</a>

<br>
<br>
<mat-icon (click)="sms()" aria-hidden="true">sms</mat-icon>
<a> send message of product intrest in product</a>
<div style="text-align:center">
  <span *ngFor="let c of picarry; let i = index" class="dot" (click)="currentSlide(i)"></span> 
</div>
<h5>Product name<b>:-</b><a>{{product.product_name}}</a></h5>
<h5>Product dital<b>:-</b><a [innerHTML]="det"></a></h5>
<h5>Product mrp<b>:-</b><a>{{product.mrp}}</a></h5>
<h5>Product retail_price<b>:-</b><a>{{product.retail_price}}</a></h5>
<h5>Product product_fild<b>:-</b><a>{{product.product_fild}}</a></h5>
</div>

<form #comm="ngForm" (ngSubmit)="insert(comm.value)" method="post">
<img *ngIf="userdata[0].profil_pic " style="width: 30px;border-radius: 50%;" class="dropdown-toggle" src="{{userdata[0].profil_pic}}"  class="ecc-avatar" alt="Responsive image">
<img *ngIf="!userdata[0].profil_pic " class="dropdown-toggle" src="assets/images/2.png"  class="ecc-avatar" alt="Responsive image">
<b>{{userdata[0].full_name}}</b>           
<h4>Star ratingf</h4>
<mat-icon (click)="ratingf(1)" [ngClass]="{'checked': rating>=1}">grade</mat-icon>
<mat-icon (click)="ratingf(2)" [ngClass]="{'checked': rating>=2}">grade</mat-icon>
<mat-icon (click)="ratingf(3)" [ngClass]="{'checked': rating>=3}">grade</mat-icon>
<mat-icon (click)="ratingf(4)" [ngClass]="{'checked': rating>=4}">grade</mat-icon>
<mat-icon (click)="ratingf(5)" [ngClass]="{'checked': rating>=5}">grade</mat-icon>
<br>
<textarea name="comment" ngModel></textarea>
<br>
<input type="submit" value="submit">
</form>


<div *ngFor="let c of ratinglist" style="width: 100%;background-color: aqua;">
  <img *ngIf="c.profil_pic" style="width: 30px;border-radius: 50%;" class="dropdown-toggle" src="{{c.profil_pic}}"  class="ecc-avatar" alt="Responsive image">
  <img *ngIf="!c.profil_pic" class="dropdown-toggle" src="assets/images/2.png"  class="ecc-avatar" alt="Responsive image">
  <b>{{c.full_name}}</b>              
  <h4>Star ratingf</h4>
  <mat-icon [ngClass]="{'checked': c.rating>=1}">grade</mat-icon>
  <mat-icon [ngClass]="{'checked': c.rating>=2}">grade</mat-icon>
  <mat-icon [ngClass]="{'checked': c.rating>=3}">grade</mat-icon>
  <mat-icon [ngClass]="{'checked': c.rating>=4}">grade</mat-icon>
  <mat-icon [ngClass]="{'checked': c.rating>=5}">grade</mat-icon>
  <br>
  <b>comment:-</b>
  <output name="comment">{{c.comment}}</output>
</div>