


    <div class="form-w3layouts">

    <section class="panel">
        <header class="panel-heading">
            Profile Settings
        </header>
        <div class="panel-body">
            <form  #ffile="ngForm" (ngSubmit)="data(ffile.value)" method="post" class="form-horizontal bucket-form">
                <div class="form-group">
                <div class="col-sm-3">
                    <div class="profile-img">
                        <img *ngIf="userdata[0].profil_pic && !imgURL" class="dropdown-toggle" src="{{userdata[0].profil_pic}}"  class="ecc-avatar" alt="Responsive image">
                        <img *ngIf="!userdata[0].profil_pic && !imgURL" class="dropdown-toggle" src="assets/images/2.png"  class="ecc-avatar" alt="Responsive image">
                        <img *ngIf="imgURL" class="dropdown-toggle" src="{{imgURL}}"  class="ecc-avatar" alt="Responsive image">                         
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input #file name="profil_pic" [(ngModel)]="imgURL" ngModel type="file"  (change)="onFileChanged($event,file.files)"  id="file" placeholder="Profile Photo" accept="image/*" />
                        </div>
                    </div>
                    <h5>
                        {{userdata[0].full_name}}
                    </h5>
                </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 control-label col-lg-3">Company Name</label>
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon btn-white"><i class="fa  fa-cogs"></i></span>
                            <input name="comp_name" [(ngModel)]= "userdata[0].comp_name" ngModel type="text"  class="form-control" placeholder="Username">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label col-lg-3">Email</label>
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon btn-success">@</span>
                            <output name="email" type="text" class="form-control" placeholder="Username">{{userdata[0].email}}</output>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label col-lg-3">Name</label>
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                            <input  maxlength="32" size="32" name="full_name" [(ngModel)]="userdata[0].full_name" ngModel type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Contect no</label>
                    <div class="col-sm-6">
                        <input name="contact_no" [(ngModel)]= "userdata[0].contact_no" ngModel type="number" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label " for="inputSuccess">Profil Type</label>
                    <div class="col-sm-6">
                    <select name="profil_type" [(ngModel)]= "userdata[0].profil_type" class="form-control">
                        <option>retailer</option>
                        <option>wholesaler</option>
                        <option>manufacturer</option>
                        <option>customer</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label " for="inputSuccess">Country</label>
                    <div class="col-sm-6">
                    <select name="country" [(ngModel)]= "userdata[0].country" class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label " for="inputSuccess">State</label>
                    <div class="col-sm-6">
                    <select name="state" [(ngModel)]= "userdata[0].state" class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-6">
                        <input name="city" [(ngModel)]= "userdata[0].city" type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label " for="inputSuccess">Gender</label>
                    <div class="col-sm-6">
                    <select name="gender" [(ngModel)]= "userdata[0].gender" class="form-control">
                        <option>Male</option>
                        <option>Femail</option>
                        <option>Others</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">addres</label>
                    <div class="col-sm-6">
                        <textarea name="addres" [(ngModel)]= "userdata[0].addres" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Pic Code</label>
                    <div class="col-sm-6">
                        <input name="pic_cod" [(ngModel)]= "userdata[0].pic_cod" type="number" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Landmark</label>
                    <div class="col-sm-6">
                        <input name="landmark" [(ngModel)]= "userdata[0].landmark" type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Field</label>
                    <div class="col-sm-6">
                        <select name="field" [(ngModel)]= "userdata[0].field" class="form-control">
                            <option *ngFor="let c of fild" >{{c}}</option>
                        </select>                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Interest</label>
                    <div class="col-sm-6">
                        <input name="interest" [(ngModel)]= "userdata[0].interest" type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <button type="submit">submit</button>

                
            </form>
        </div>
    </section>
    </div>
    <i class="fa fa-address-book" aria-hidden="true"></i>

    <button (click)="getaddres()">getaddres</button>
    
